$purple: #4d2473;
$orange: #fc6619;

.wrapper {
    background: url(/img/background.jpg) center/cover no-repeat;
    width: 100%;
    min-height: 100vh;
    padding: 15px;
}

.title {
    font-family: "Press Start 2P", cursive;
    font-size: 28px;
    margin-bottom: 10px;
}

.nes-btn {
    text-transform: uppercase;
    font-size: 24px;
    font-family: "Press Start 2P", cursive;
    &.is-disabled {
        pointer-events: none;
    }
}

.nes-btn.reset-game {
    margin-top: 30px;
}

.lom-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 180px;
    .nes-btn {
        margin-top: 40px;
    }
}

.lom {
    width: 400px;
    height: 290px;
    padding: 0 20px;
    background: url(/img/lom-background.jpg) center/cover no-repeat;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border: 4px solid white;

    &[error="true"] {
        background: url(/img/lom-error-background.jpg) center/cover no-repeat;
    }

    img {
        max-width: 100%;
    }

    .bubble {
        transform: translate(70%, -80%);
    }
}

.bubble {
    width: 100%;
    max-width: 560px;
    padding: 20px;
    position: absolute;
    right: 0;
    top: 0;
    background: white;
    text-align: left;

    p {
        margin-bottom: 10px;
        font-size: 18px;
    }
}

.question-container {
    width: 100%;
    background: white;
    max-width: 768px;
    .question-title {
        text-align: left;
        display: inline-block;
        margin-bottom: 15px;
        display: inline-block;
        width: 100%;
        margin-top: 20px;
    }

    select {
        font-size: 20px;
        option {
            color: #444;
        }
    }

    .nes-field {
        text-align: left;
        font-size: 18px;
    }

    .nes-btn {
        margin-top: 50px;
    }

    .question-list {
        width: 100%;
        display: inline-block;
        text-align: left;
        padding-left: 20px;

        li {
            font-size: 20px;
        }
    }

    .img-options {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .nes-container {
            width: calc(50% - 20px);
            margin-bottom: 20px;
            padding-bottom: 0;
            padding-top: 0;
            position: relative;
            overflow: hidden;
            background: #140019;

            &::before {
                position: absolute;
                left: 0;
                top: 0;
                opacity: 0;
                background: url(/img/lom-background.jpg) center/cover no-repeat;
                content: "";
                display: inline-block;
                width: 100%;
                height: 100%;
                transition: 0.7s;
                transform: scale(1.1);
            }

            &:hover::before {
                opacity: 1;
            }

            img {
                max-width: 140px;
                transform: translateY(4px);
            }
        }
    }

    .radio-container {
        label {
            font-size: 20px;
            margin-right: 15px;
        }
    }

    .hidden-word {
        span {
            text-transform: uppercase;
            font-size: 60px;
            margin: 0 5px;
        }
    }
}

.stars-container.nes-container {
    width: 100%;
    margin-top: 40px;
    max-width: 768px;
    background: white;
}

.card-container {
    .card {
        width: 50px;
        height: 50px;
        border: 4px solid black;
        margin: 0 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 50px;
        &:first-of-type {
            margin-left: 0;
        }
    }
}

.hearts-container {
    display: inline-block;
    width: auto;
    position: relative;

    .win {
        position: absolute;
        z-index: 5;
        width: 65px;
        height: 65px;
        border: none;
        top: 114px;
        right: 18px;
        outline: none;
        background: transparent;
        border-radius: 50%;
        &[show="true"] {
            border: 3px solid #ffffff;
            background: rgba(0, 0, 0, 0.1);
        }
    }

    .lose {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border: none;
        outline: none;
        background: transparent;
    }

    img {
        max-width: 100%;
    }
}

.buttons-container {
    .nes-btn {
        margin: 0 20px;
    }
}

@media screen and (max-width: 970px) {
    .lom .bubble {
        transform: translate(-20%, -100%);
        &::before,
        &::after {
            display: none;
        }
    }
}

@media screen and (max-width: 790px) {
    .card-container {
        justify-content: space-around;
    }

    .card-container .card {
        margin-bottom: 10px;
        margin-left: 0px;
        margin-right: 0px;
    }
}

@media screen and (max-width: 620px) {
    .wrapper {
        overflow: scroll;
    }

    .stars-container.nes-container {
        max-width: 400px;

        .star {
            margin: 5px;
            transform: scale(2);
            width: 50px;
            height: 50px;
        }
    }

    .lom-container {
        padding-top: 400px;
    }

    .lom {
        width: 100%;
        max-width: 400px;
        height: 200px;
        img {
            filter: drop-shadow(2px 4px 10px rgba(0, 0, 0, 0.8));
            position: relative;
            z-index: 3;
        }
    }

    .lom .bubble {
        transform: translateY(-110%);
        width: 100%;
        max-width: 400px;
        left: 0;
        right: auto;
        margin-left: 0;
    }

    .title {
        font-size: 22px;
    }

    .question-container .question-title {
        line-height: 1.1em;
        font-size: 20px;
    }

    .question-container .nes-btn {
        margin-top: 30px;
    }

    .nes-btn {
        font-size: 16px;
    }

    .question-container .img-options .nes-container {
        width: calc(50% - 10px);
        position: relative;
        height: 120px;
        img {
            max-width: 140px;
            position: absolute;
            left: 50%;
            bottom: 0;
            transform: translateX(-50%);
        }
    }
}

@media screen and (max-width: 400px) {
    .hearts-container img {
        width: 200px;
    }

    .hearts-container .win {
        width: 40px;
        height: 40px;
        top: 79px;
        right: 14px;
    }
}
